body {
    background-color:   #C5E5D8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outer-container {
    text-align: center;
    margin-top: 5px;
}

.title {
    font-size: 50px;
    color: #F5F5DC;
    margin-bottom: 10px; 
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.subtitle {
    font-style: italic;
    color: #F5F5DC;
    margin-bottom: 10px; 
}

.input-label,
.input-field {
    color: #A3775D;
    font-family: 'Arial', sans-serif; 
    font-style: italic; 
}


.inner-container {
    background-color: #F5F5DC;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn {
    background-color: #A3775D;
    color: #fff;
    border: none;
    padding: 15px 30px; 
    font-size: 10px; 
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: #A3775D;
}

.logo {
    width: 180px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
